 <!-- bootstrap javascript -->
 <script src="/modules/jquery/dist/jquery.min.js"></script>
 <script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 <script src="/modules/mdbootstrap/js/mdb.min.js"></script>
 <!-- datatables javascript -->
 <script src="/js/jquery.dataTables.min.js"></script>
 <!-- chart.js -->
 <script src="/js/bundle.js"></script>
 <!-- personal javascript -->
 <script src="/js/admin.js"></script>
</body>

</html>