<!DOCTYPE html>
<html lang="en">
<%- include ('../includes/header') %>

  <body>
    <div class="top-navbar">
      <nav class="navbar top navbar-expand navbar-light bg-light">
        <div class="ml-auto">
          <ul class="navbar-nav">
            <li class="nav-item   navigate">
              <a href="#" class="nav-link px-2"><img src="/images/chat-sm.png" class="navicon"></a>
            </li>
            <li class="nav-item  navigate">
              <a class="nav-link px-2" href="#">
                <img src="/images/settings-sm.png" class="navicon" alt="">
              </a>
            </li class="nav-item">
            <li class="nav-item">
              <img src="/images/profile.png" class="admin-avatar" alt="" type="button" data-toggle="collapse"
              data-target="#profile" aria-controls="profile">
            </li>
            <li class="nav-item user-profile">
              <a class="nav-link " href="#"><img src="/images/drop-down.png" type="button" data-toggle="collapse"
                  data-target="#profile" aria-controls="profile" class="drop"></img></a>
              <div class="collapse profile" id="profile">
                <div class="card card-body profile-details">
                  Your cart is empty but it dosen't have to remain so for long add items and come back here to view your
                  cart...
                </div>
                <div class="popover"></div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="sidebar-one  navbar-dark shadow-lg reduced">
        <ul class="navbar-nav side-navigation">
          <li class="nav-item">
            <img src="/images/side-brand-2.png" class="side-brand mx-2 navbar-brand" alt="">
            <span class="side-logo hide my-2 mx-3">foodie</span>
          </li>
          <hr class="mt-1">
          <li class="nav-item mt-5 ">
            <a href="#" class="side-link  nav-link  waves-effect"><img src="/images/home.png" class=" side-icon my-2 mx-3"><span
                class="hide my-2 mx-3"> Home</span></a>
          </li>
          <li class="nav-item">
            <a href="/admin/menu" class="side-link nav-link  rounded-0 border-0 "><img src="/images/menu.png"
                class=" side-icon  my-2  mx-3"><span class="hide my-2 mx-3 "> Menu</span></a>
          </li>
          <li class="nav-item dropdown">
            <a href="/admin/staff" class="side-link  nav-link  rounded-0 border-0 waves-effect"><img src="/images/user.png"
                class=" side-icon   my-2 mx-3"><span class="hide my-2 mx-3"> Staff</span></a>
          </li>
          <li class="nav-item">
            <a href="#" class="side-link nav-link  rounded-0 border-0 waves-effect orders" role="button"><img src="/images/order.png"
                class=" side-icon  my-2  mx-3"><span class="hide my-2 mx-3"> Order</span></a>
          </li>
          
          <li class="nav-item order-dropdown">
              <a href="#" class="side-link nav-link  rounded-0 border-0 waves-effect" role="button">
                <span class="my-2 ml-5 side-icon"> Pending</span></a>
            </li>
            <li class="nav-item order-dropdown">
              <a href="#" class="side-link nav-link  rounded-0 border-0 waves-effect" role="button">
                <span class="my-2 ml-5 side-icon"> Active</span></a>
            </li>
          <li class="nav-item ">
            <a href="/admin/" class="side-link  nav-link rounded-0 border-0 waves-effect"><img src="/images/customer.png"
                class=" side-icon  my-2 mx-3"><span class="hide my-2 mx-3"> Users</span></a>
          </li>
          <li class="nav-item ">
            <a href="#" class="side-link  nav-link rounded-0 border-0 waves-effect"><img src="/images/chat.png"
                class=" side-icon  my-2 mx-3"><span class="hide my-2 mx-3"> Messages</span></a>
          </li>
          <li class="nav-item ">
            <a href="#" class="side-link nav-link rounded-0 border-0 waves-effect"><img
                src="/images/notification-bell.png" class=" side-icon  my-2 mx-3"><span class="hide my-2 mx-3">
                Notifications</span></a>
          </li>
          <li class="nav-item ">
            <a href="#" class="side-link  nav-link rounded-0 border-0 waves-effect"><img
                src="/images/settings-lg.png" class=" side-icon  my-2 mx-3"><span class="hide my-2 mx-3"> settings</span></a>
          </li>
        </ul>
        <div class="expand  ">
          <img src="/images/full-screen.png" class=" side-icon mx-3 my-3">
        </div>
        
      </nav>
    </div>
    </div>





   