<div class="contact" id="contact">
  <p>Telephone: +23490 546 7895</p>
  <p>Email: <a>info@foodie.com</a></p>
  <i class="fab fa-facebook fa-3x socials"></i>
  <i class="fab fa-instagram fa-3x socials"></i>
  <i class="fab fa-twitter fa-3x socials"></i>
  <i class="fab fa-pinterest fa-3x socials"></i>
  <footer>
    <p>Copyright 2020 @ foodie All rights reserved.</p>
  </footer>
</div>

<!-- bootstrap javascript -->
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/modules/mdbootstrap/js/mdb.js"></script>
