<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>foodie - <%=page%>
  </title>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Stalemate&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="/css/all.css">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
  <!-- material design bootstrap -->
  <link rel="stylesheet" href="/modules/mdbootstrap/css/mdb.min.css">
  <!-- datatables css -->
  <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
  <!-- personal css -->
  <link rel="stylesheet" href="/css/styles.css">
  
</head>